.risk-container {
  width: 100%;
  max-width: 97%;
  margin-left: 15px;
  margin-right: 25px;
  margin-top: 20px;
  padding: 32px 24px;
  background: #FAFAFA;
  border-radius: 16px;
  font-weight: 300;
}

/* Encabezado */
.risk-container>h1 {
  font-size: 24px;
  color: #222;
  margin-bottom: 8px;
}

.risk-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  margin-bottom: 10px;
  gap: 20px;
}

.risk-description {
  color: #666;
  font-size: 14px;
}

.search-input {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 320px;
  max-width: 100%;
  font-size: 12px;
}

/* Estados (badges) */
.badge {
  padding: 6px 14px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
}

.badge.pending {
  background-color: #FFD59E;
  color: #333333;
}

.badge.reviewing {
  background-color: #A3D4B2;
  color: #333333;
}

.badge.reviewed {
  background-color: #F2A3A3;
  color: #333333;
}

.risk-table-section .general-table {
  width: 100%;
  margin: 0 auto;
}

/* Centrar información en la tabla para NIT, Estado, Fecha y Acciones */
.general-table th:nth-child(2),
.general-table td:nth-child(2),
.general-table th:nth-child(3),
.general-table td:nth-child(3),
.general-table th:nth-child(4),
.general-table td:nth-child(4),
.general-table th:nth-child(5),
.general-table td:nth-child(5) {
  text-align: center;
}