/* === FORMULARIO DE PROVEEDOR=== */
/* Sección general */
.user-form-section {
  max-width: 600px;
  margin: 20px auto;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  
}

.visually-hidden {
  position: absolute;
  left: -9999px; 
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input::placeholder,
select::placeholder {
  color: #bbb;        
  font-style: italic; 
}


.user-form h4 {
  color: rgba(0, 0, 0, 0.774);
  
}


.names,.document,.dates3, .addrees {
  display: flex;
  gap: 20px; 
}


.names .form-group,
.document .form-group,
.dates3 .form-group,
.addrees .form-group {
  flex: 1; 
}

/* Asegura que los inputs y selects ocupen todo el ancho de su contenedor */
.form-group input,
.form-group select {
  width: 100%;
  box-sizing: border-box;
}



/* Título y nota */
.user-form-section h2 {
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 10px;
}

.form-note {
  text-align: center;
  font-size: 13px;
  color: #606c38;
  margin-bottom: 10px;
}

/* Campos del formulario */
.user-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-form label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  font-weight: 500;
}

.user-form input,
.user-form select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;
}

.user-form input:focus,
.user-form select:focus {
  border-color: #9ba97d; /* verde oliva */
}

/* Botones */
.form-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.btn-submit {
  background-color: #e6e6e6;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s
}

.btn-submit:hover {
  background-color: #606c38;
}

.btn-reset {
  background-color: #e6e6e6;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s
}

.btn-reset:hover {
  background-color: #606c38;}