
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  
}
body {
  background-color: #ffffff;
  min-height:  100vh;
  display:flex; /* convierte un elemento en un contenedor flexible */ 
  flex-direction: column; /* apila los elementos dentro de un contenedor flex uno encima del otro, formando una columna vertical */
}
header {
  display: flex;
  height: 70px;
  background-color: #f1f1ef;
  border-bottom: 15px solid #0e3186;
  padding: 20px 20px;
  justify-content: space-between;
  
}
/* --- Sección logo y slogan --- */


.logo {
  padding-top: 10px;
  height: 40px;
}
.tagline {
  font-style: italic;
  font-size: 16px;
  color: #000000;
  margin-top: 1px;
  margin-left: 150px;
}
/* --- Sección de busqueda --- */
.search-section {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  padding: 8px 12px;
  width: 220px;
  margin-left: 50%; /* Ajusta este valor para que quede al ancho de ventana*/
  }

.search-box i {
  color: #2a4a3d;
  font-size: 16px;
  margin-right: 8px;
}
/* --- Sección de filtros de busqueda --- */
.filters {
  display: flex;
  gap:15px;
  font-size: 13px;
  margin-top: -20px;
  margin-left: -190px;
}

.dot { /* --- Check box--- */
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 4px;

}

.filter-item {
  display: inline-flex;
  font-size: 11px;
  color: #555;
  align-items: left;
}

/* --- Sección de usuario --- */
.user-section {
  display:flex;
  align-items: right;

}
.user-info {
  text-align: right;
  font-size: 12px;
}
.user-role {
  display: inline-flex;
  font-size: 12px;
  color: #555555;
}
.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #c9d7c4;
  align-items: right;
}
/* --- Sección de navegador --- */
.content {
  flex: 1;              
  display: flex;        
  align-items: stretch; /* nav se estira a la altura del contenedor */
}
nav {
  background-color: #0e3186;
  padding: 10px 10px;
  width: 150px;
  height: cal(100%-145px);
  font-size: 13px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 2px solid #ffffff;

}
nav a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin: 10px 0;
 
}
.menu, .bottom-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li, .bottom-menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px 20px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  border-radius: 8px;
}

.menu li:hover,
.bottom-menu li:hover {
  background-color: #2a2a2a;
  color: #fff;  
  }

.icon {
  width: 20px;
  text-align: center;
  font-size: 12px;
}
main {
  min-height: calc(100vh - 145px); /* altura total menos el header y el footer*/
  padding: 20px;
  margin-left: 170px;
  overflow-y: auto;
  flex:1;
  min-height: 0;
}
footer {
  height: 40px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  color: #000000;
  background-color: #f1f1ef;
  font-style: italic;
  clear: both;
  border-top:  2px solid #ffffff;
}