/* Contenedor principal de la sección */
.upload-section {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;}

/* Encabezado con información de la empresa */

.company-info {
text-align: left;  
margin-left: 10px;
}

.company-info h1 {
font-size: 28px;  
margin-top: 5px;
color: #333;
}
.company-info h3 {
font-size: 16px;  
color: #666;
}
.company-info p {
font-size: 16px;  
margin-bottom: 30px;
color: #666;
}

.supplier_status{
    display:inline-flex;
    gap:10px;
   }
/* Tabla de documentos */
.document-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.document-table thead {
  background-color: #e6e6e6;
  
}

.document-table th, .document-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.document-table i {
  color: #606c38;
  font-size: 18px;
}
.document-table td:first-child {
  text-align: left;
}

/* --- Botones individuales (Enviar) --- */
.btn-send {
  background-color: #ddd; /* dorado base */
  color: black;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  
}

.btn-send:hover {
  background-color: #606c38; /* tono más oscuro al pasar el mouse */
      
}

/* --- Botón final (Enviar todos los documentos) --- */
.btn-final-send {
  background-color: #ddd; /* verde base */
  color: black;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 25px;
}

.btn-final-send:hover {
  background-color: #606c38; /* verde más oscuro */
  
}
.icon-error {
  color: #e74c3c !important; 
}