.main-container {
  padding: 20px 40px;
}

.section-title {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--text-primary);
}

.table-container {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.search-input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  width: 220px;
  outline: none;
}

.btn-add {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-add:hover {
  background-color: var(--accent-hover);
}

.general-table {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  height: 100%;
  align-items: center;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--primary-color);
  transition: color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon-btn:hover {
  color: var(--accent-color);
}

.status {
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 500;
}

.status.active {
  background-color: #c6efce;
  color: #2e7d32;
}

.status.inactive {
  background-color: #ffcdd2;
  color: #b71c1c;
}